@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  color: black;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.header { 
  display: flex;
  justify-content: space-between;
}

.left-links, .right-links {
  display: flex;
  flex-flow: row;
  margin: 10px 10px;
  padding: 0px;
  gap: 25px;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 15px;
}

.footer {
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding:8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}