/* Add CSS Styling */

.both-buttons {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif; 
}

.first-button {
    color: #ffffff;
    background-color: #000000;
}

.second-button {
    background-color: #ffff00;
}