body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding-top:  20px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  padding-left: 125px;
  padding-right: 125px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}